@charset "UTF-8";

@font-face {
  font-family: og-emoji;
  src: url(/fonts/og-dcm-emoji.ttf);
}

/* Future Monica: I was lazy and only got the Latin ranges, so if you type anything
in French or Romanian and it looks borked, maybe that's why. */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'), url(https://fonts.gstatic.com/s/ibmplexmono/v3/-F63fjptAgt5VM-kVkqdyU8n1i8q131nj-o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: optional;
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Mono Bold'), local('IBMPlexMono-Bold'), url(https://fonts.gstatic.com/s/ibmplexmono/v3/-F6qfjptAgt5VM-kVkqdyU8n3pQPwlBFgsAXHNk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: optional;
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v18/QldKNThLqRwH-OJ1UHjlKGlZ5qhExfHw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v9/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8JoI3ZKyHaQQ.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v9/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXBi8JoI3ZKyHaQQ.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.og {
  font-family: og-emoji, sans-serif;
}

* {box-sizing: border-box}
[hidden] {display: none !important}
[disabled] {pointer-events:none; opacity: 0.3}
html {
  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;
  --spacing-l: 48px;
  --foreground: black;
  --accent: #ff487a;
  --accent-2: #7BE4D5;
  --font-size: 20px;
  --font-size-s: 18px;
  --font-size-xs: 14px;


  --content-width: 600px;
  --splash-bg: #FFD0CE; //#864AFF;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: white;
  font-family: 'Work Sans', monospace;
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--font-size);
  margin: 0 0 1.5rem;
  line-height: 1.5;
}
/* 
.top-line {
  border-top: var(--spacing-xs) solid var(--accent-2);
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
} */
/* .container {
  width: 100%;
  margin: 0 auto;
} */

::selection { background: #E0F7FA }
iframe { max-width: 100% }

/**********************
 * Splash
 **********************/
.splash {
  background: var(--splash-bg);
  height: 90vh;
  width: 100%;
  color: white;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash > div {
  max-width: var(--content-width);
}
.splash h1 {
  color: #01FCCB;
  background-image: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: inherit;
  font-size: 80px;
  letter-spacing: 4px;
  margin: var(--spacing-s) 0;
  padding: 0;
}
.splash h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin: var(--spacing-s) 0;
  padding: 0;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
}
.splash p {
  margin-top: var(--spacing-m);
  font-size: 34px;
  line-height: 40px;
}


/**********************
 * Copy
 **********************/
h1, h2, h3, h4 {
  font-weight: 700;
  margin: var(--spacing) 0;
  font-family: 'Archivo', monospace;
}

h1 a, h2 a, h3 a, h4 a, .sidebar a, .sidebar button {
  text-decoration: none;
  color: var(--foreground);
}

h1 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: var(--spacing-l);
}
h1.no-butt {
  margin-bottom: 0;
}

h2, h3 {
  font-size: 26px;
  font-weight: 900;
  position: relative;
  margin-top: var(--spacing-l);
  margin-bottom: 30px;
}
h2:after {
  content: "";
  position: absolute;
  width: var(--spacing-l);
  height: var(--spacing-s);
  bottom: calc(0px - var(--spacing-s));
  left: 0;
  border-bottom: 6px solid var(--accent);
}

/* Thank you GitHub Universe site for this innovation */
h1, .rainbow {
  display: inline-block;
  background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

ul.listing > h3 {
  margin-top: var(--spacing-s);
}

ul {
  margin: 0;
  padding: 0;
}

/**********************
 * Footer
 **********************/
.footer {
  padding: var(--spacing-l) 0;
  color: var(--accent);
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-s);
  line-height: var(--spacing);
}

.footer > .thanks {
  display: flex;
  flex-direction: row;
}

.footer > .thanks .heart {
  text-decoration: none;
  font-size: 24px;
  margin-left: var(--spacing);
  flex: 1;
  text-align: left;
}

.prev-next {
  padding: var(--spacing-l) 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
/**********************
 * Sidebar
 **********************/
.sidebar {
  width: 100%;

  align-items: center;
  margin: 0 auto;
  padding: var(--spacing) 0;
  margin-bottom: var(--spacing-l);
}

.sidebar > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: var(--content-width);
  margin: var(--spacing-s) auto;
}
.sidebar > ul > li {
  list-style: none;
}

.sidebar a {
  font-weight: bold;
  border-bottom: none;
  font-size: var(--font-size-s);
  margin: 0 var(--spacing) 0 0;
  xpadding: 5px var(--spacing-xxs);
}

.sidebar button {
  background: none;
  border: none;
  box-shadow: none;
  outline:none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: inherit;

  width: 69px;
  text-align: left;
}

#rainButton {
  text-align: center;
  padding: 5px var(--spacing-xxs);
  margin: 0 var(--spacing) 0 0;
  width: 18px;
}
/**********************
 * Posts
 **********************/
.content {
  max-width: 700px;
  margin: 50px var(--spacing) 50px 250px;
  margin: 0;
  padding: 5px var(--spacing);
  width: inherit;
}

.content .byline {
  font-weight: 900;
  font-size: var(--font-size-xs);
  color: #777;
  text-transform: uppercase;
}

.content ul {
  margin-left: var(--spacing);
  padding: var(--spacing-s) 0;
}

.content ul, .content ol {
  font-size: var(--font-size);
}

.content li {
  margin-bottom: var(--spacing-s);
  margin-left: var(--spacing-s);
}

.content img:not(.emoji) {
  padding: 3px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.content hr {
  background-color: var(--accent-2);
  border: 0px;
  margin: 50px auto;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  max-width: 430px;
  clear: both;
}

p.chunk {
  display: block;
  border-left: var(--spacing-xs) solid #f4f3f3;
  padding: var(--spacing-s) var(--spacing);
}

blockquote {
  background: #E0F7FA;
  margin: 30px var(--spacing-l);
  padding: 14px var(--spacing-s);
}

blockquote:before {
  color: var(--accent);
  content: "\201C";
  font-family: Georgia;
  font-size: 80px;
  line-height: 0;
  vertical-align: -0.5em;
}

blockquote:after {
  content: "";
}
blockquote p {
  display: inline;
}

/*.content blockquote cite:before {
    content: '— ';
}

.content blockquote cite {
  display: block;
  margin-top: .5em;
  text-align: right;
  color: #111;
  font-style: normal;
}*/

/**********************
* Posts lists
*********************/
.content .listing {
  margin: 0;
  padding: 0;
}
.content .listing li {
  font-size: var(--font-size-s);
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  color: #777777;
}

.content .listing.table li {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
}

.content .listing a {
  color: black;
  padding-bottom: 2px;
  border-bottom: 1px dotted #ddd;
  text-decoration: none;
  font-weight: normal;
}

.content .listing li span:not(.talk-title) {
  font-size: var(--font-size-xs);
  text-align: right;
  letter-spacing: 2px;
  flex-shrink: 0;
  text-transform: uppercase;
}

/**********************
 * Links
 *********************/
a {
  color: var(--accent);
  transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  font-weight: bold;
}

a:hover, button:hover {
  -webkit-animation: zomg 3s infinite;
  -moz-animation: zomg 3s infinite;
  animation: zomg 3s infinite;
}

@-webkit-keyframes zomg {
  0%, 100% { color: #7ccdea; fill: #7ccdea; }
  16%      { color: #0074D9; fill: #0074D9; }
  32%      { color: #2ECC40; fill: #2ECC40;}
  48%      { color: #FFDC00; fill: #FFDC00;}
  64%      { color: #B10DC9; fill: #B10DC9;}
  80%      { color: #FF4136; fill: #FF4136;}
}
@-moz-keyframes zomg {
  0%, 100% { color: #7ccdea; fill: #7ccdea; }
  16%      { color: #0074D9; fill: #0074D9; }
  32%      { color: #2ECC40; fill: #2ECC40;}
  48%      { color: #FFDC00; fill: #FFDC00;}
  64%      { color: #B10DC9; fill: #B10DC9;}
  80%      { color: #FF4136; fill: #FF4136;}
}
@keyframes zomg {
  0%, 100% { color: #7ccdea; fill: #7ccdea; }
  16%      { color: #0074D9; fill: #0074D9; }
  32%      { color: #2ECC40; fill: #2ECC40;}
  48%      { color: #FFDC00; fill: #FFDC00;}
  64%      { color: #B10DC9; fill: #B10DC9;}
  80%      { color: #FF4136; fill: #FF4136;}
}

@-webkit-keyframes avatarzomg {
  0%, 100% { -webkit-filter: invert(0) saturate(100%) hue-rotate(0deg); }
  25%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(180deg); }
  50%      { -webkit-filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}
@-moz-keyframes avatarzomg {
  0%, 100% { filter: invert(0) saturate(100%) hue-rotate(0deg); }
  25%      { filter: invert(10%) saturate(500%) hue-rotate(180deg); }
  50%      { filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}
@keyframes avatarzomg {
  0%, 100% { filter: invert(0) saturate(100%) hue-rotate(0deg); }
  25%      { filter: invert(10%) saturate(500%) hue-rotate(180deg);}
  50%      { filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { filter: invert(10%) saturate(500%) hue-rotate(90deg);}
}

/**********************
 * Code
 *********************/
code {
  /*background: #b0efe6;
  outline: 1px solid #7fe5d7;*/
  font-family: SourceCodePro,Consolas,Menlo,Monaco,'Courier New',monospace;
  font-size: var(--font-size-xs);
  color: black;
  border: 1px solid var(--accent-2);
  background-color: rgba(123, 228, 213, 0.3); /* accent-2 with opacity */
  line-height: 1.5;
  padding: 2px 3px;
}

pre {
  background: #fafafa;
  outline: 1px solid #eeeeee;
  border-left: 5px solid var(--accent-2);
  padding: var(--spacing-s);
  overflow-x: auto;
  overflow-y: hidden;
}

pre code {
  background: transparent !important;
  outline: none;
  color: black;
  border: none;
  font-weight: normal;
}
/* just the code blocks */

h2 code {
  font-size: 30px;
}

/**********************
 * Table of contents
 *********************/
#markdown-toc {
  list-style-type: none;
  margin: 0;
  border-left: var(--spacing-xs) solid var(--accent);
  padding-left: var(--spacing-s);
}
#markdown-toc li {
  line-height: 1;
}
#markdown-toc a:link, #markdown-toc a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px dotted var(--accent);
}
