@charset "UTF-8";

@font-face {
  font-family: og-emoji;
  src: url(/fonts/og-dcm-emoji.ttf);
}

.og {
  font-family: og-emoji, sans-serif;
  vertical-align: middle;
}

* {box-sizing: border-box}
[hidden] {display: none !important}
[disabled] {pointer-events:none; opacity: 0.3}
html {
  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;
  --spacing-l: 48px;
  --foreground: black;
  --font-size: 20px;
  --font-size-s: 18px;
  --font-size-xs: 14px;


  --red-light:#FECBCA;
  --red: #F83735;
  --yellow: #FAC832;
  --blue: #1231B5;
  --blue-light: #84B4F9;

  --content-width: 700px;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: white;
  font-family: 'Rubik', -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  color: var(--foreground);
  margin: 0;
  padding: 1em;
}

p {
  font-size: var(--font-size);
  margin: 0 0 1.5rem;
  line-height: 1.5;
}

.hilite {
  position: relative;
  background: var(--yellow);
  padding: 0 4px;
  z-index: 0;
  border-radius: 2px;
}

::selection { background: var(--red-light); }
iframe { max-width: 100% }

/**********************
 * Splash
 **********************/
.lines {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
}
.lines > div {
  height: 150px;
  width: 20px;
  border-right: 2px solid black;
}
.splash {
  position: relative;
  min-height: 50vh;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash.short {
  min-height: 30vh;
  padding: var(--spacing-m) 0;
}

.splash > .splash-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: white;
  width: var(--content-width);
  max-width: 100%;
  position: relative;
}

.splash-copy {
  margin-right: var(--spacing-l);
  max-width: 50%;
}

.splash h1 {
  color: black;
  background-image: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: inherit;
  font-size: 50px;
  line-height: 50px;
  margin: var(--spacing-s) 0;
  padding: 0;
}

.splash p {
  margin-top: var(--spacing-m);
  font-size: 1.4em;
}


/**********************
 * Splash art
 **********************/
 #birbs {
  min-width: 340px;
  min-height: 340px;
  height: 100%;
  max-width: 90%;
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
  overflow: hidden;
  position: relative;
}

#birbs canvas {
  cursor: pointer;
}
.birbs-legend {
  text-align: center;
}
.birbs-legend button {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
.birbs-legend button > b {
  color: var(--red);
}

.birbs-note {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  padding: var(--spacing-s);
  background: white;
  border: 4px solid var(--red);
  display: none;
}

.birbs-legend button:hover + .birbs-note {
  display: block;
}

/**********************
 * Copy
 **********************/
h1, h2, h3, h4 {
  font-weight: 700;
  margin: var(--spacing) 0;
}

h1 a, h2 a, h3 a, h4 a, nav a, nav button {
  text-decoration: none;
  color: var(--foreground);
}

h1 {
  font-size: 36px;
  font-weight: 900;
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
}

h2, h3 {
  font-size: 26px;
  font-weight: 900;
  position: relative;
  margin-top: var(--spacing-l);
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
}

ul.listing > h3 {
  margin-top: var(--spacing-s);
}

ul {
  margin: 0;
  padding: 0;
}

/**********************
 * Party tricks
 **********************/
/* Thank you GitHub Universe site for this innovation */
.rainbow {
  display: inline-block;
  background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.with-butt:after {
  content: "";
  position: absolute;
  width: var(--spacing-l);
  height: var(--spacing-s);
  bottom: calc(0px - var(--spacing-s));
  left: 0;
  border-bottom: 6px solid var(--red);
}


/**********************
 * Footer
 **********************/
.footer {
  position: relative;
  width: 100%;
  color: black;
  margin: var(--spacing-l) 0;
}

.footer > .thanks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  position: relative;
}

.footer > .thanks .heart {
  text-decoration: none;
  font-size: 24px;
  margin-left: var(--spacing);
  flex: 1;
  text-align: left;
}

.prev-next {
  padding: var(--spacing-l) 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
/**********************
 * Sidebar
 **********************/
nav {
  width: 100%;
  align-items: center;
  padding: var(--spacing) 0;
  margin-bottom: var(--spacing-l);
  color: black;
  margin-bottom: 0;
}

nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: var(--content-width);
  max-width: 100%;
  margin: var(--spacing-s) auto;
}
nav > ul > li {
  list-style: none;
  margin: var(--spacing-xs) var(--spacing-s);
}

nav a {
  position: relative;
  font-weight: bold;
  border-bottom: none;
  font-size: var(--font-size-s);
  margin: 0;
}
nav a:hover {
  color: black;
  background: white;
  z-index: 0;
}
.dotted {
  position: relative;
  color: black;
  background: white;
  display: inline-block;
  width:100px;
  z-index: auto;
}

nav a:hover::before, 
.dotted::before {
  position: absolute;
  display: block;
  left: -20px;
  top: 10px;
  content: '';
  height: 100%;
  width: 120%;
  background-image: radial-gradient(var(--red) 25%, white 40%);
  background-position: 0px 0px;
  background-size: 6px 6px;
  z-index: -1;
}
/**********************
 * Posts
 **********************/
.content {
  max-width: var(--content-width);
  margin: 0 auto;
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-l);
  padding: 0;
  width: inherit;
}

.content ul {
  margin-left: var(--spacing);
  padding: var(--spacing-s) 0;
}

.content ul, .content ol {
  font-size: var(--font-size);
}

.content li {
  margin-bottom: var(--spacing-s);
  margin-left: var(--spacing-s);
  line-height: 1.5;
}

.content img:not(.emoji) {
  padding: 3px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.content hr {
  background-color: var(--yellow);
  border: 0px;
  margin: 50px auto;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  max-width: 430px;
  clear: both;
}

p.chunk {
  display: block;
  border-left: var(--spacing-xs) solid #f4f3f3;
  padding: var(--spacing-s) var(--spacing);
}

blockquote {
  background: #E0F7FA;
  margin: 30px var(--spacing-l);
  padding: 14px var(--spacing-s);
}

blockquote:before {
  color: var(--accent);
  content: "\201C";
  font-family: Georgia;
  font-size: 80px;
  line-height: 0;
  vertical-align: -0.5em;
}

blockquote:after {
  content: "";
}
blockquote p {
  display: inline;
}

/**********************
* Posts lists
*********************/
.content .listing {
  margin: 0;
  padding: 0;
}

.content .listing li {
  font-size: var(--font-size-s);
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  color: black
}

.content .listing.table li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content .listing.fancy a {
  color: black;
  padding-bottom: 2px;
  text-decoration: none;
  font-weight: normal;
  position: relative;
}

.content .listing li span:not(.talk-title) {
  font-size: var(--font-size-xs);
  text-align: right;
  letter-spacing: 2px;
  flex-shrink: 0;
  text-transform: uppercase;
}

.content .listing.fancy a:hover {
  background: white;
}
.content .listing.fancy a:hover::before {
  position: absolute;
  display: block;
  left: -20px;
  bottom: -10px;
  content: '';
  height: 18px;
  width: 80%;
  background-image: repeating-linear-gradient(
    -45deg,  var(--blue-light),
    var(--blue-light) 2px,
    white 2px,
    white 6px
  );
  z-index: -1;
}

/**********************
 * Links
 *********************/
a {
  color: var(--red);
  transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  font-weight: bold;
}

a:hover, button:hover {
  color: var(--blue);
}

/**********************
 * Code
 *********************/
code {
  font-family: SourceCodePro,Consolas,Menlo,Monaco,'Courier New',monospace;
  font-size: var(--font-size-xs);
  color: black;
  border: 1px solid var(--accent-2);
  background-color: var(--red-light);
  line-height: 1.5;
  padding: 2px 3px;

}

pre {
  background: #fafafa;
  outline: 1px solid #eeeeee;
  border-left: 5px solid var(--accent-2);
  padding: var(--spacing-s);
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: var(--spacing-m);
}

pre code {
  background: transparent !important;
  outline: none;
  color: black;
  border: none;
  font-weight: normal;
}
/* just the code blocks */

h2 code {
  font-size: 30px;
}

/**********************
 * Table of contents
 *********************/
#markdown-toc {
  list-style-type: none;
  margin: 0;
  border-left: var(--spacing-xs) solid var(--accent);
  padding-left: var(--spacing-s);
}
#markdown-toc li {
  line-height: 1;
}
#markdown-toc a:link, #markdown-toc a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px dotted var(--accent);
}






@media screen and (max-width:600px) {
  .splash > .splash-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .splash-copy {
    margin-right: 0;
    max-width: 100%;
  }
}