@charset "UTF-8";

@font-face {
  font-family: og-emoji;
  src: url(/fonts/og-dcm-emoji.ttf);
}

/* Future Monica: I was lazy and only got the Latin ranges, so if you type anything
in French or Romanian and it looks borked, maybe that's why. */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'), url(https://fonts.gstatic.com/s/ibmplexmono/v3/-F63fjptAgt5VM-kVkqdyU8n1i8q131nj-o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: optional;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Mono Bold'), local('IBMPlexMono-Bold'), url(https://fonts.gstatic.com/s/ibmplexmono/v3/-F6qfjptAgt5VM-kVkqdyU8n3pQPwlBFgsAXHNk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: optional;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: optional;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjDwjmqxf7-pAVU_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: optional;
}

.og {
  font-family: og-emoji, sans-serif;
}

html, body {
  margin: 0;
}

body {
  xfont-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  background: white;
  font-family: 'Roboto Mono', monospace;
  color: #444;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.top-line {
  border-top: 8px solid #7BE4D5;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.container {
  padding-top: 50px;
}

::selection {
  background: #E0F7FA;
}

iframe {
  max-width: 100%;
}

/**********************
 * Copy
 **********************/
h1, h2, h3, h4 {
  font-weight: 700;
  margin: 20px 0;
  font-family: 'IBM Plex Mono', monospace;
}

h1 a, h2 a, h3 a, h4 a, .sidebar a, .sidebar .sections button {
  text-decoration: none;
  color: #444;
}

h1 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}

h2, h3 {
  font-size: 20px;
  font-weight: 900;
  position: relative;
}

/* Thank you GitHub Universe site for this innovation */
h1, .rainbow {
  display: inline-block;
  background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

ul.listing > h3 {
  color: black;
  font-weight: 900;
  border-left: 8px solid #ff487a;
  padding-left: 10px;
}
/*
h4 {
  font-weight: 400;
}*/

h2 {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 30px;
}

h2:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  bottom: -10px;
  left: 0;
  border-bottom: 6px solid #ff487a;
}

ul {
  margin: 0;
  padding: 0;
}



/**********************
 * Footer
 **********************/
.footer {
  padding: 50px 0;
  color: #ff487a;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
}

.footer > .thanks {
  letter-spacing: 2px;
  float: left;
}

.footer > span {
  vertical-align: middle;
}

.footer > .thanks .heart {
  text-decoration: none;
  font-size: 20px;
}

.footer > .twitter {
  float: right;
}

/**********************
 * Sidebar
 **********************/
.sidebar {
  position: fixed;
  margin-left: 50px;
  width: 150px;
}

.sidebar .avatar {
  border-radius: 50%;
}

.sidebar .avatar:hover {
  -webkit-animation: avatarzomg 0.9s infinite;
  -moz-animation: avatarzomg 0.9s infinite;
  animation: avatarzomg 0.9s infinite;
}

.sidebar a {
  border-bottom: none;
}

.sidebar .meta {
  margin-left: 24px;
  margin-top: 10px;
  height: 20px;
  min-width:130px;
}

.sidebar .meta .icon {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
}

.sidebar .sections {
  margin: 10px 0 0 54px;
}

.sidebar .sections li {
  list-style: none;
  margin-bottom: 10px;
}

.sidebar .sections a {
  font-size: 14px;
  font-weight: bold;
}

.sidebar .sections button {
  background: none;
  border: none;
  box-shadow: none;
  outline:none;
  cursor: pointer;
  padding-left: 10px;
  font-size:20px;
  text-align: center;
}
/**********************
 * Posts
 **********************/
.content {
  max-width: 700px;
  margin: 0 20px 50px 250px;
}

.content .byline {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 10px;
  color: #777;
  text-transform: uppercase;
}

.content p {
  margin-top: 0;
  margin-bottom: 1.2em;
  line-height: 1.5;
}

.content ul {
  margin-left: 20px;
  padding: 10px 0;
}

.content ul, .content ol {
  font-size: 16px;
}

.content li {
  margin-bottom: 10px;
  margin-left: 10px;
}

.content img:not(.emoji) {
  padding: 3px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.content hr {
  background-color: #7BE4D5;
  border: 0px;
  margin: 50px auto;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  max-width: 430px;
  color: #7ccdea;
  clear: both;
}

p.chunk {
  display: block;
  border-left: 8px solid #f4f3f3;
  padding: 10px 20px;
}

blockquote {
  background: #E0F7FA;
  margin: 30px 40px;
  padding: 14px 10px;
}

blockquote:before {
  color: #ff487a;
  content: "\201C";
  font-family: Georgia;
  font-size: 80px;
  line-height: 0;
  vertical-align: -0.5em;
}

blockquote:after {
  content: "";
}
blockquote p {
  display: inline;
}

/*.content blockquote cite:before {
    content: '— ';
}

.content blockquote cite {
  display: block;
  margin-top: .5em;
  text-align: right;
  color: #111;
  font-style: normal;
}*/

/**********************
* Posts lists
*********************/
.content .listing {
  margin: 10px 0 0 0;
  padding: 0;
}

.content .listing li {
  font-size: 15px;
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  color: #777777;
}

.content .listing a {
  color: black;
  padding-bottom: 2px;
  border-bottom: 1px dotted #ddd;
  text-decoration: none;
  font-weight: normal;
}

.content .listing li span.talk-title {
}
.content .listing li span:not(.talk-title) {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  float: right;
}

/**********************
 * Links
 *********************/
a {
  color: #ff487a;
  transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  font-weight: bold;
}

a:hover {
  -webkit-animation: zomg 3s infinite;
  -moz-animation: zomg 3s infinite;
  animation: zomg 3s infinite;
}

@-webkit-keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}
@-moz-keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}
@keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}

@-webkit-keyframes avatarzomg {
  0%, 100% { -webkit-filter: invert(0) saturate(100%) hue-rotate(0deg); }
  25%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(180deg); }
  50%      { -webkit-filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}
@-moz-keyframes avatarzomg {
  0%, 100% { filter: invert(0) saturate(100%) hue-rotate(0deg); }
  25%      { filter: invert(10%) saturate(500%) hue-rotate(180deg); }
  50%      { filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}
@keyframes avatarzomg {
  0%, 100% { -webkit-filter: invert(0) saturate(100%) hue-rotate(0deg);
  	             filter: invert(0) saturate(100%) hue-rotate(0deg); }
  25%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(180deg);
  	             filter: invert(10%) saturate(500%) hue-rotate(180deg);}
  50%      { -webkit-filter: invert(10%) saturate(300%) hue-rotate(300deg);
  		     filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(90deg);
                     filter: invert(10%) saturate(500%) hue-rotate(90deg);}
}

/**********************
 * Code
 *********************/
code {
  /*background: #b0efe6;
  outline: 1px solid #7fe5d7;*/
  font-family: SourceCodePro,Consolas,Menlo,Monaco,Courier New,monospace;
  color: #336699;
  font-size: 95%;
  font-weight: bold;
}

pre {
  background: #fafafa;
  outline: 1px solid #eeeeee;
  border-left: 5px solid #7BE4D5;
}

pre code {
  background: transparent !important;
  outline: none;
  color: black;
  font-weight: normal;
}
/* just the code blocks */
pre {
  padding: 13px;
  overflow-x: auto;
  overflow-y: hidden;
}

/* inline code */
code {
  line-height: 1.5;
  padding: 2px 3px;
}

h2 code {
  font-size: 30px;
}

/**********************
 * Table of contents
 *********************/
#markdown-toc {
  list-style-type: none;
  margin: 0;
  border-left: 8px solid #ff487a;
  padding-left: 10px;
}
#markdown-toc li {
  line-height: 1;
}
#markdown-toc a:link, #markdown-toc a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px dotted #ff487a;
}
