@charset "UTF-8";

body {
  background: linear-gradient(to right top, #ff487a 50%, #7ccdea 50%);
  background-size: 100% calc(100% - 100vh + 8px);
  background-repeat: no-repeat;
}

body:before {
  content: '';
  position: fixed;
  top: 8px;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: white;
}

.top-line {
  border: none;
}
