---
layout: layout
---
<section class="content">
  <h1 class="no-butt">Posts</h1>
  <p>You can follow these blog posts via <a href="https://meowni.ca/atom.xml">RSS</a>. This is a different RSS feed than 
    the one for my <a href="https://meowni.ca/weaknotes.xml">weaknotes</a>, in case you're worried.</p>

  <ul class="listing table">
    {% for post in site.posts %}
    {% unless post.draft %}
    {% capture currentdate %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentdate != thedate %}
    <h3 class="rainbow">{{ currentdate }}</h3>
    {% capture thedate %}{{currentdate}}{% endcapture %}
    {% endif %}
    <li>
      <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endunless %}
    {% endfor %}
  </ul>
  <br /><br />
</section>
