---
layout: body
title: "Tools"
---
{% include nav.html %}

<div class="deskwrap deskwrap-tools">

  <div class="window win-tool win-tool-art">
    {% include titlebar.html file="art" href="/tools" label="art" %}
    <section class="content">
      <ul class="tool-folders">
        <li><a href="https://meowni.ca/underpainting"><span class="fold"></span><span class="lbl">underpainting</span></a></li>
        <li><a href="https://meowni.ca/riso"><span class="fold"></span><span class="lbl">riso</span></a></li>
      </ul>
    </section>
  </div>

  <div class="window win-tool win-tool-music">
    {% include titlebar.html file="music" href="/tools" label="music" %}
    <section class="content">
      <ul class="tool-folders">
        <li><a href="https://meowni.ca/album-roulette"><span class="fold"></span><span class="lbl">album roulette</span></a></li>
        <li><a href="https://meowni.ca/glitch/music-morsels/"><span class="fold"></span><span class="lbl">music morsels</span></a></li>
      </ul>
    </section>
  </div>

  <div class="window win-tool win-tool-life">
    {% include titlebar.html file="life" href="/tools" label="life" %}
    <section class="content">
      <ul class="tool-folders">
        <li><a href="https://meowni.ca/chillroute"><span class="fold"></span><span class="lbl">chill route</span></a></li>
        <li><a href="https://meowni.ca/games"><span class="fold"></span><span class="lbl">games</span></a></li>
        <li><a href="https://meowni.ca/score-keeper"><span class="fold"></span><span class="lbl">score keeper</span></a></li>
        <li><a href="https://meowni.ca/glitch/fingerspell"><span class="fold"></span><span class="lbl">fingerspell</span></a></li>
      </ul>
    </section>
  </div>

</div>
