---
layout: layout
title: "Blog"
splashtitle: "Posts"
redirect_from:
  - /blog/
---
<p>You can follow these blog posts via <a href="https://meowni.ca/blog.xml">RSS</a>.
<hr>

<ul class="listing fancy table">
  {% for post in site.posts %}
  {% unless post.draft %}
  {% capture currentdate %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if currentdate != thedate %}
  <li>
    <h2 class="with-butt">{{ currentdate }}</h2>
  </li>
  {% capture thedate %}{{currentdate}}{% endcapture %}
  {% endif %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span>{{ post.date | date: "%b %e, %Y" }}</span> 
  </li>
  {% endunless %}
  {% endfor %}
</ul>
