---
layout: body
---
<header class="sidebar">
  <a href="/" title="Photo of my face" aria-label="Photo of my face">
    <img src="/images/avatar.jpg" height="80" width="80" class="avatar" />
  </a>

  <div class="sidebar-text">
    <nav class="sections">
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/blog">posts</a></li>
        <li><a href="/weaknotes">weaknotes</a></li>
        <li><a href="/projects">codes</a></li>
        <li><a href="/talks">talks</a></li>
        <li><a href="https://meownica.studio">shop</a></li>
        <li>
          <button id="rainButton" title="emoji-rain" aria-label="emoji-rain" class="og">✨</button>
        </li>
      </ul>
    </nav>
  </div>
</header>

{{ content }}

<section class="content">
  <div class="footer">
    <section class="thanks">
      <span>thanks for reading!</span>
      <a href="#" class="heart" aria-hidden="true">❤︎</a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="notwaldorf" title="Tweet at me!"
        aria-label="Tweet at me!">Tweet</a>
    </section>
  </div>
</section>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
