---
layout: body
---
<nav>
  <ul>
    <li id="home_link" class="og"><a href="/">🏠</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/work">hire me</a></li>
    <li><a href="https://meownica.studio" target="_blank" rel="noreferrer">art</a></li>
    <li><a href="/reads">reading</a></li>
    <li><a href="/blog">writing</a></li>
    <li><a href="/projects">projects</a></li>
    <li><a href="/talks">talks</a></li>
  </ul>
</nav>

{% if page.splashtitle %}
<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-copy">
      <h1>{{page.splashtitle}}</h1>
      <p>{{page.splashbyline}}</p>
    </div>
    <div id="birbs">
      <canvas></canvas>
      <div class="birbs-legend">
        <b>click this art</b> to regenerate it 
        <button>[<b>?</b>]</button>

        <div class="birbs-note">I made this little piece of art. It is 
          randomly generated every time you refresh the page. You can also regenerate it
          however many times you want by clicking on it. Every art is new!
        </div>
      </div>
      
    </div>
  </div>
  <div class="dots"></div>
</div>
{% endif %}

<section class="content">
  {{ content }}
</section>

<script src="/js/birds.js"></script>