---
layout: layout
---
<section class="content">
  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>
  {{ content }}

  <div class="prev-next">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>
</section>

<section class="content">
  <div class="footer">
    <section class="thanks">
      <span>thanks for reading!</span>
      <a href="#" class="heart" aria-hidden="true">❤︎</a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="notwaldorf" title="Tweet at me!"
        aria-label="Tweet at me!">Tweet</a>
    </section>
  </div>
</section>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
