---
layout: body
---
<nav>
  <ul>
    <li><a href="/about">about</a></li>
    <li><a href="/weaknotes">weaknotes</a></li>
    <li><a href="/blog">posts</a></li>
    <li><a href="/projects">projects</a></li>
    <li><a href="/talks">talks</a></li>
    <li><a href="https://meownica.studio">shop</a></li>
  </ul>
</nav>

<div class="splash short">
  <div class="splash-wrapper">
    <div>
      <section class="byline">
        {{ page.date | date: "%B %e, %Y" }}
      </section>

      <h1>
        <a href="{{ page.url }}">{{ page.title }}</a>
      </h1>
    </div>
  </div>
</div>

<section class="content">
  {{ content }}

  <div class="prev-next">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>
</section>

<div class="footer">
  <div class="thanks">
    <span>Thanks for reading!</span>
    <a href="#" class="heart" aria-hidden="true">❤︎</a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="notwaldorf" title="Tweet at me!"
      aria-label="Tweet at me!">Tweet</a>
  </div>
</div>

<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
